<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <form method='POST' action="">
        <select name="team" action="">
            <option value='33'>Manchester United</option>
            <option value='34'>Newcastle</option>
            <option value='38'>Watford</option>
            <option value='39'>Wolves</option>         
            <option value='40'>Liverpool</option> 
            <option value='41'>Southampton</option>
            <option value='42'>Arsenal</option>
            <option value='44'>Burnley</option>
            <option value='45'>Everton</option>
            <option value='46'>Leicester</option>
            <option value='47'>Tottenham</option>
            <option value='48'>West Ham</option>
            <option value='49'>Chelsea</option>
            <option value='50'>Manchester City</option>
            <option value='51'>Brighton</option>
            <option value='52'>Crystal Palace</option>
            <option value='55'>Brentford</option>
            <option value='63'>Leeds</option>
            <option value='66'>Aston Villa</option>  
            <option value='71'>Norwich</option>
        </select>
        <input type='submit' value="Load Squad" name="submit" id="button"/>
    </form>
</body>
</html>