{% extends 'base.html'%}

{% block title %}
    Test Title
{% endblock %}
{% block content %}
<div class="container">
    <div id="user_prediction">
        <h2>Application's</h2>
        <h2>Week 29 Table Predictions</h2>
        <table id="generic_table">
            <tr>
                <th id="generic_header">Team Name</th>
                <th id="generic_header">Team Position</th>
                <th id="generic_header">Team Points</th>
                <th id="generic_header">Games Played</th>
                <th id="generic_header">Games Won</th>
                <th id="generic_header">Games Lost</th>
                <th id="generic_header">Games Drawn</th>

            </tr>
            {% for team in team_data %}
            <tr>
              <td id="generic_column"> {{team_names[team.team_position - 1]}}</td>
              <td id="generic_column"> {{team.team_position}} </td>
              <td id="generic_column"> {{team.team_points}}</td>
              <td id="generic_column"> {{team.games_played}}</td>
              <td id="generic_column"> {{team.won}}</td>
              <td id="generic_column"> {{team.lost}}</td>
              <td id="generic_column"> {{team.drawn}}</td>
            </tr>
            {% endfor %}
        </table>
        <a href="/table/download">
            <button type="button">Download</button>
        </a>
        <a href="/">
            <button type="button">Back</button>
        </a>
    </div>


    {% if current_user.is_authenticated %}

    {% if test %}

    <div id="other_prediction">
        <h2> Your Prediction</h2>
        <h2> Week 29 Table Predictions</h2>
        <table id="generic_table">
            <tr>
                <th id="generic_header">Team Name</th>
                <th id="generic_header">Team Position</th>
            </tr>

            <tr>
                {% for key, value in test.items() %}
                <td id="generic_column">{{key}}</td>
                {% if prediction.team_position < value %}
                <td id="overperformed_column">{{prediction.team_position}}</td>
                {% elif prediction.team_position > value %}
                <td id="underperformed_column">{{prediction.team_position}}</td>
                {% else %}
                <td id="generic_column">{{value}}</td>
                {% endif %}
                {% endfor %}
            </tr>
        </table>
        <a href="/table/compare-{{orig_pred_name}}/download">
            <button type="button">Download Comparison txt</button>
        </a>

        {% endif %}

        <div class="dropdown">
          <button onclick="myFunction()" class="dropbtn">Show Tables</button>
          <div id="myDropdown" class="dropdown-content">
            <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">

              {% for prediction in predictions %}
                    <a href="/table/compare-{{prediction[10]}}">{{prediction[10]}}</a>
                    {% endfor %}
          </div>
        </div>
        {% endif %}
    </div>
</div>



<script>
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

function filterFunction() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  div = document.getElementById("myDropdown");
  a = div.getElementsByTagName("a");
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}
</script>


{% endblock %}