<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/table">Season Table</a>

        <div class="navbar-dropdown">
            <button class="navbar-dropbtn"> Predictions
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="navbar-dropdown-content">
                <a href="/table_predictions">Table Predictions</a>
                <a href="/match_predictions">Match Predictions</a>

                <!-- Update with Ajay's player rating predictions -->
                <a href="/player_rating_predictions">Player Rating Predictions</a>

                <!-- Update this with Eliel's prediction comparison -->
                <a href="#">Compare Predictions</a>

                <!-- Update this with Viet's ML prediction routing. -->
                <a href="#">Generate Predictions</a>

            </div>
        </div>

        <div class="navbar-dropdown">
            <button class="navbar-dropbtn"> Search
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="navbar-dropdown-content">
                <a href="/search_matches">Match Search</a>
                <a href="/search_players">Player Search</a>

                <!-- update this to following users later -->
                <a href="#">User Search</a>
            </div>
        </div>

        <div class="navbar-dropdown">
            <button class="navbar-dropbtn"> Watchlist
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="navbar-dropdown-content">
                <a href="/watchlist">Your Watchlist</a>
                <a href="/search_user_watchlist">Find Another User's Watchlist</a>
            </div>
        </div>
        <a href="/history">Match History</a>
        <a href="/logout">Logout</a>


    </div>

    {% block content %}
    {% endblock %}
</body>

<script>
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

function filterFunction() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  div = document.getElementById("myDropdown");
  a = div.getElementsByTagName("a");
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}
</script>

</html>