<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <ul>
        {% for item in playerlist %}
        <li> <a href="/get_prediction-{{ item.playername }}"> {{ item.playername }} </a></li>
            {% endfor %}
    </ul>

<form action="/watchlist" method="post">
  <table>
      <td>Player Name:
        <input type="text" name="playername">
      </td>
    </tr>
  </table>
  <input type="submit" name="submit" value="Search for Player">

</form>


<form action="/change_visibility" method="post">
    <select name="visibility" >
                <option value="1">Public</option>
                <option value="0">Private</option>
        </select>
  <input type="submit" name="sub" value="Change Visibility">

</form>

</body>
</html>