{% extends 'base.html'%}

{% block title %}
    My Watchlist
{% endblock %}
{% block content %}
<body>
    <table id="generic_table">
        {% for item in playerlist %}
            <td id="generic_column"> <a href="/get_prediction-{{ item.playername }}"> {{ item.playername }} </a></td>>
            <tr id="generic_row"></tr>
            {% endfor %}
    </table>>

<form action="/watchlist" method="post">
  <table id="generic_table">
      <td id="generic_column">Player Name:
        <input type="text" name="playername">
      </td>
    </tr>
  </table>
  <input type="submit" name="submit" value="Search for Player">

</form>
    <n></n>>
<form action="/change_visibility" method="post">
    <select name="visibility" >
                <option value="1">Public</option>
                <option value="0">Private</option>
        </select>
  <input type="submit" name="sub" value="Change Visibility">

</form>

</body>
{% endblock %}