{% extends 'base.html'%}

{% block title %}
    Test Title
{% endblock %}
{% block content %}
<h1>
    {{home_team_name}} (Home) vs {{away_team_name}} (Away)
</h1>
<body>
<div> Round Number: {{game.round_number}} </div>

{% if game.status == 0 %}
<div> Status: Not Played</div>
<div> Application Predicts: {{winner}} Will Win </div>
{% else %}
<div> Status: Played</div>
<div> Winner: </div>
{% endif %}

{% if userpred and stats %}
<div class="container">
    <div id="user_prediction">
        <h2>Application's Prediction</h2>
        <table id="generic_table">
            <tr>
                <th id="generic_header">Team</th>
                <th id="generic_header">Possessions</th>
                <th id="generic_header">Shots</th>
                <th id="generic_header">Shots on Target</th>
                <th id="generic_header">Yellow Cards</th>
                <th id="generic_header">Red Cards</th>
                <th id="generic_header">Goals</th>
                <th id="generic_header">Pens</th>
                <th id="generic_header">Free Kicks</th>
                <th id="generic_header">Complete Passes</th>
            </tr>
            <tr>
                <td id="generic_column">{{ home_team_name }}</td>
                <td id="generic_column">{{ stats.home_possession }}</td>
                <td id="generic_column">{{ stats.home_shots }}</td>
                <td id="generic_column">{{ stats.home_shots_on_target }}</td>
                <td id="generic_column">{{ stats.home_yellow_cards }}</td>
                <td id="generic_column">{{ stats.home_red_cards }}</td>
                <td id="generic_column">{{ stats.home_goals }}</td>
                <td id="generic_column">{{ stats.home_pens }}</td>
                <td id="generic_column">{{ stats.home_freekicks }}</td>
                <td id="generic_column">{{ stats.home_complete_passes }}</td>
            </tr>

            <tr>
                <td id="generic_column">{{ away_team_name }}</td>
                <td id="generic_column">{{ stats.away_possession }}</td>
                <td id="generic_column">{{ stats.away_shots }}</td>
                <td id="generic_column">{{ stats.away_shots_on_target }}</td>
                <td id="generic_column">{{ stats.away_yellow_cards }}</td>
                <td id="generic_column">{{ stats.away_red_cards }}</td>
                <td id="generic_column">{{ stats.away_goals }}</td>
                <td id="generic_column">{{ stats.away_pens }}</td>
                <td id="generic_column">{{ stats.away_freekicks }}</td>
                <td id="generic_column">{{ stats.away_complete_passes }}</td>
            </tr>

        </table>
    </div>

    <div id="other_prediction">
        <h2> Your Prediction </h2>
        <table id=""generic_table>
            <tr>
                <th id="generic_header">Possessions</th>
                <th id="generic_header">Shots</th>
                <th id="generic_header">Shots on Target</th>
                <th id="generic_header">Yellow Cards</th>
                <th id="generic_header">Red Cards</th>
                <th id="generic_header">Goals</th>
                <th id="generic_header">Pens</th>
                <th id="generic_header">Free Kicks</th>
                <th id="generic_header">Complete Passes</th>

            </tr>
            <tr>
                <td id="generic_column">{{ userpred.home_possession }}</td>
                <td id="generic_column">{{ userpred.home_shots }}</td>
                <td id="generic_column">{{ userpred.home_shots_on_target }}</td>
                <td id="generic_column">{{ userpred.home_yellow_cards }}</td>
                <td id="generic_column">{{ userpred.home_red_cards }}</td>
                <td id="generic_column">{{ userpred.home_goals }}</td>
                <td id="generic_column">{{ userpred.home_pens }}</td>
                <td id="generic_column">{{ userpred.home_freekicks }}</td>
                <td id="generic_column">{{ userpred.home_complete_passes }}</td>
            </tr>

            <tr>
                <td id="generic_column">{{ userpred.away_possession }}</td>
                <td id="generic_column">{{ userpred.away_shots }}</td>
                <td id="generic_column">{{ userpred.away_shots_on_target }}</td>
                <td id="generic_column">{{ userpred.away_yellow_cards }}</td>
                <td id="generic_column">{{ userpred.away_red_cards }}</td>
                <td id="generic_column">{{ userpred.away_goals }}</td>
                <td id="generic_column">{{ userpred.away_pens }}</td>
                <td id="generic_column">{{ userpred.away_freekicks }}</td>
                <td id="generic_column">{{ userpred.away_complete_passes }}</td>
            </tr>
        </table>
    </div>


</div>

{% endif %}

<a href="/match/{{orig_home}}-v-{{orig_away}}-{{game.round_number}}/download">
    <button type="button">Download Match Details</button>
</a>

<a href="/">
    <button type="button">Back</button>
</a>

{% if current_user.is_authenticated %}

{% if predictions %}
<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Show Tables</button>
  <div id="myDropdown" class="dropdown-content">
    <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
      {% for prediction in predictions %}
      <a href="/profile/{{current_user.username}}/match_predictions/{{prediction.name}}">{{prediction.name}}</a>
      {% endfor %}
  </div>
</div>
{% endif %}

{% endif %}






{% endblock %}