{% extends 'base.html'%}

{% block title %}
    Test Title
{% endblock %}
{% block content %}
<h1>
    {{home_team_name}} (Home) vs {{away_team_name}} (Away)
</h1>
<body>
<div> Round Number: {{game.round_number}} </div>

{% if game.status == 0 %}
<div> Status: Not Played</div>
<div> Application Predicts: {{winner}} Will Win </div>
{% else %}
<div> Status: Played</div>
<div> Winner: </div>
{% endif %}
<a href="/match/{{orig_home}}-v-{{orig_away}}-{{game.round_number}}/download">
    <button type="button">Download Match Details</button>
</a>

<a href="/">
    <button type="button">Back</button>
</a>

{% if current_user.is_authenticated %}

{% if predictions %}
<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Show Tables</button>
  <div id="myDropdown" class="dropdown-content">
    <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
      {% for prediction in predictions %}
      <a href="/profile/{{current_user.username}}/match_predictions/{{prediction.name}}">{{prediction.name}}</a>
      {% endfor %}
  </div>
</div>
{% endif %}

{% endif %}

{% endblock %}