<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <title>{{playername}}'s Page</title>
</head>
<body>
<div>Player: {{playername}}</div>
<div>Team: {{team_name}}</div>
<div></div>
<form action="/player_prediction/add-{{ playerid }}-{{ team_id }}" method="post">
  <table id="generic_table">
    <tbody>
    <tr id="generic_row">Player Rating Prediction Form</tr>
    </tbody>
      <td id="generic_column">Player Rating:
        <input type="number" min="0" max="10" name="player_rating">
      </td>
    </tr>
  </table>
      <select name="visibility">
                <option value="1">Public</option>
                <option value="0">Private</option>
        </select>
        <select name="sharable">
                <option value="1">Allow Sharing</option>
                <option value="0">Do not Allow</option>
        </select>
  <input type="submit" name="submit" value="Submit">

</form>


</body>
</html>