{% extends 'base.html'%}

{% block title %}
    Temp Title
{% endblock %}
{% block content %}
<body>
<h1>Player: {{player.playername}}</h1>
<h2>Team: {{team.team_name}}</h2>

{% if ratings %}
<table id="generic_table">
    <tr>
        <th id="generic_header">Year</th>
        <th id="generic_header">Rating</th>
        <th id="generic_header">Yellow Cards</th>
        <th id="generic_header">Double Yellow Cards</th>
        <th id="generic_header">Red Cards</th>
    </tr>
    {% for year in ratings %}
    <tr>
            <td id="generic_column">{{year}}</td>
            <td id="generic_column">{{ratings[year]}}</td>
            <td id="generic_column">{{yellow[year]}}</td>
            <td id="generic_column">{{yellowred[year]}}</td>
            <td id="generic_column">{{red[year]}}</td>
    </tr>
    {% endfor %}
</table>
</body>
{% else %}
Previous Seasons' Data Unavailable
{% endif %}

{% endblock %}