{% extends 'base.html'%}

{% block title %}
    Temp Title
{% endblock %}
{% block content %}
<form action="/search_matches" method="post">
  <table>
    <tbody>
    <tr>Match Search Form</tr>
    </tbody>
    <tr>
      <td>Home Team:
        <select name="home_team"><option value="1">Manchester City</option><option value="2">Liverpool</option><option value="3">Chelsea</option><option value="4">West Ham</option><option value="5">Manchester United</option><option value="6">Arsenal</option><option value="7">Wolves</option><option value="8">Tottenham</option><option value="9">Brighton</option><option value="10">Southampton</option><option value="11">Leicester</option><option value="12">Aston Villa</option><option value="13">Crystal Palace</option><option value="14">Brentford</option><option value="15">Leeds</option><option value="16">Everton</option><option value="17">Newcastle</option><option value="18">Norwich</option><option value="19">Watford</option><option value="20">Burnley</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Away Team:
        <select name="away_team"><option value="1">Manchester City</option><option value="2">Liverpool</option><option value="3">Chelsea</option><option value="4">West Ham</option><option value="5">Manchester United</option><option value="6">Arsenal</option><option value="7">Wolves</option><option value="8">Tottenham</option><option value="9">Brighton</option><option value="10">Southampton</option><option value="11">Leicester</option><option value="12">Aston Villa</option><option value="13">Crystal Palace</option><option value="14">Brentford</option><option value="15">Leeds</option><option value="16">Everton</option><option value="17">Newcastle</option><option value="18">Norwich</option><option value="19">Watford</option><option value="20">Burnley</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Round Number:
        <input type="number" name="round_number" required>
      </td>
    </tr>
  </table>
  <input type="submit" name="submit" value="Search for Match">
</form>

{% endblock %}