<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {{ found_player }}
    <br>
    <br>
    <br>
    <a href="/find_player/{{found_player}}/get_rating">Player Ratings</a>
    <br>
    <a href="/find_player/{{found_player}}/get_goals">Predict Number Of Goals</a>
    <br>
    <a href="/find_player/{{found_player}}/get_assists">Predict Number of Assists</a>
    <br>
    <a href="/find_player/{{found_player}}/get_saves">Predict Number of Saves </a>
</body>
</html>



