<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Stat To Predict For Player</title>
</head>
<body>
    {{ playerid }}
    <br>
    <br>
    <br>
    <a href="/profile/{{username}}/find_player/{{playerid}}/get_rating">Player Ratings</a>
    <br>
    <a href="/profile/{{username}}/find_player/{{playerid}}/get_goals">Predict Number Of Goals</a>
    <br>
    <a href="/profile/{{username}}/find_player/{{playerid}}/get_assists">Predict Number of Assists</a>
    <br>
    <a href="/profile/{{username}}/find_player/{{playerid}}/get_saves">Predict Number of Saves </a>
</body>
</html>



