{% extends 'base.html'%}

{% block title %}
    Temp Title
{% endblock %}
{% block content %}
<table id="generic_table">
    <tr>
        <th id="generic_header">Team Name</th>
        <th id="generic_header">Tournament Name</th>
        <th id="generic_header">Team Position</th>
        <th id="generic_header">Team Points</th>
        <th id="generic_header">Goals For</th>
        <th id="generic_header">Goals Against</th>
    </tr>
    <tr>
        {% for item in prediction %}
        <td id="generic_column"> {{item}} </td>
            {% endfor %}
    </tr>
</table>

<a href="/profile/{{username}}/table_predictions/{{prediction_name}}/download">
    <button type="button">Download</button>
</a>
<a href="/profile/{{username}}/table_predictions">
    <button type="button">Back</button>
</a>
</body>

{% endblock %}