{% extends 'base.html'%}

{% block title %}
    Temp Title
{% endblock %}
{% block content %}
<body>
<h2>{{prediction[0]}}: {{prediction[1]}} (Home) vs {{prediction[2]}} (Away)</h2>
<table id="generic_table">
    <tr>
        <th id="generic_header">Team</th>
        <th id="generic_header">Possessions</th>
        <th id="generic_header">Shots</th>
        <th id="generic_header">Shots on Target</th>
        <th id="generic_header">Yellow Cards</th>
        <th id="generic_header">Red Cards</th>
        <th id="generic_header">Subs</th>
        <th id="generic_header">Corners</th>
        <th id="generic_header">Goals</th>
        <th id="generic_header">Pens</th>
        <th id="generic_header">Free Kicks</th>
        <th id="generic_header">Pass Total</th>
        <th id="generic_header">Completed Passes</th>
    </tr>
    <tr>
        <td id="generic_column">{{prediction[1]}}</td>
        {% for item in stats[5:29:2] %}
        <td id="generic_column"> {{item}} </td>
        {% endfor %}
    </tr>
    <tr>
        <td id="generic_column">{{prediction[2]}}</td>
        {% for item in stats[6:29:2] %}
        <td id="generic_column"> {{item}} </td>
        {% endfor %}
    </tr>
</table>

<a href="/profile/{{username}}/match_predictions/{{prediction_name}}/download">
    <button type="button">Download</button>
</a>
<a href="/profile/{{username}}/match_predictions">
    <button type="button">Back</button>
</a>
</body>

{% endblock %}